{
  "env": {
    "es": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ],
        ["@babel/preset-react"]
      ]
    },
    "cjs": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": {
              "version": 2
            }
          }
        ],
        [
          "next/babel", 
          {
            "transform-runtime": {
              "corejs": false,
              "helpers": true,
              "regenerator": true,
              "useESModules": false
            },
          }
        ]
      ],
      "plugins": [
        "@babel/proposal-class-properties",
        [
          "add-module-exports",
          {
            "addDefaultProperty": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs"
          }
        ],
        ["@babel/preset-react"]
      ],
      "plugins": [
        "@babel/proposal-class-properties",
        [
          "add-module-exports",
          {
            "addDefaultProperty": true
          }
        ]
      ]
    },
  }
}