root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


# see docs: https://editorconfig.org/
# see example from a project on GitHub: https://github.com/tailwindlabs/tailwindcss/blob/master/.editorconfig
