# Dependencies
node_modules

# Dist
dist
.next
out
next-i18next.js
next-i18next.min.js
middleware.js

# OS
.DS_Store

# Development Environment
.vscode

# Logs
*.log

# Testing
coverage/

# npm
package-lock.json